table {
width: 100%
}

table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

th {
    background-color: lightgreen;
}

#updateformdiv {
    display: none;
    /*display: flex;*/
    flex-direction: column;
    margin-bottom: 20px;
}

#updateformdiv label, button, input {
    margin: 10px;
    padding: 7px;
}

#updateformdiv label {
    font-weight: bolder;
}

#formdiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#formdiv label, button, input {
    margin: 10px;
    padding: 7px;

}

#formdiv label {
    font-weight: bolder;
}

table button {
    padding: 2px;
}

/*NONCRUDS*/

#PokemonsInKantoRegionformdiv {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 20px;
}


#PokemonsWhereTrainerWinIs10formdiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}


#PokemonsWhereTrainerLevelUnder10formdiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#PokemonsInKantoRegionTablediv {
    display: none;
    margin-bottom: 50px;
}

#PokemonsWhereTrainerWinIs10Tablediv {
    display: none;
    margin-bottom: 50px;
}

#PokemonsWhereTrainerLevelUnder10Tablediv {
    display: none;
    margin-bottom: 100px;
}



